---
http_interactions:
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?callback=_&format=json&url=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - PROD-ELA4
      X-Li-Pop:
      - prod-esy1
      X-Li-Uuid:
      - 3iltHyMwbBTAguMZHCsAAA==
    body:
      encoding: UTF-8
      string: '{"count":0,"fCnt":"0","fCntPlusOne":"1","url":"please-dont-register-a-site-that-breaks-this-test.com"}'
  recorded_at: Fri, 19 Aug 2016 10:55:05 GMT
recorded_with: VCR 3.0.3
