---
http_interactions:
- request:
    method: get
    uri: http://share.yandex.ru/gpp.xml?url=http://www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://share.yandex.ru/gpp.xml?url=http%3A%2F%2Fwww.google.com
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 19 Aug 2016 10:55:00 GMT
- request:
    method: get
    uri: https://share.yandex.ru/gpp.xml?url=http://www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '"10000"'
  recorded_at: Fri, 19 Aug 2016 10:55:02 GMT
recorded_with: VCR 3.0.3
