---
http_interactions:
- request:
    method: get
    uri: https://moz.com/researchtools/ose/api/urlmetrics?site=please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1a3-9dde57ca"
      X-Response-Time:
      - 5.653ms
      X-Iinfo:
      - 4-10221943-10221782 PNNN RT(1471604070461 613) q(0 0 0 0) r(1 1) U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"meta":{"site":"http://please-dont-register-a-site-that-breaks-this-test.com","requested_site":"http://please-dont-register-a-site-that-breaks-this-test.com"},"data":{"spam_flags":[null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null],"spam_score":null,"authority":{"page_authority":1,"domain_authority":1},"page":{"just_discovered_links":0,"linking_root_domains":0,"inbound_links":0}}}'
  recorded_at: Fri, 19 Aug 2016 10:54:31 GMT
recorded_with: VCR 3.0.3
