---
http_interactions:
- request:
    method: get
    uri: http://graph.facebook.com/?id=http://www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f3b63703816a3f649ad80d29b50db6f2421d9523"'
      Facebook-Api-Version:
      - v2.1
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "og_object": {
              "id": "381702034999",
              "description": "Check out the 2016 Doodle Fruit Games at g.co/fruit #GoogleDoodle",
              "title": "Google",
              "type": "website",
              "updated_time": "2016-08-21T13:00:20+0000"
           },
           "share": {
              "comment_count": 2,
              "share_count": 36063703
           },
           "id": "http://www.google.com"
        }
  recorded_at: Sun, 21 Aug 2016 13:00:37 GMT
recorded_with: VCR 3.0.3
