---
http_interactions:
- request:
    method: get
    uri: http://graph.facebook.com/?id=http://please-dont-register-a-site-that-breaks-this-test.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"666917dff19e3f1124da4ef81432fba15dd5537d"'
      Facebook-Api-Version:
      - v2.1
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "og_object": {
              "id": "885136881526487",
              "type": "website",
              "updated_time": "2014-12-15T07:39:10+0000"
           },
           "share": {
              "comment_count": 0,
              "share_count": 0
           },
           "id": "http://please-dont-register-a-site-that-breaks-this-test.com"
        }
  recorded_at: Sun, 21 Aug 2016 13:00:38 GMT
recorded_with: VCR 3.0.3
