---
http_interactions:
- request:
    method: get
    uri: https://moz.com/researchtools/ose/api/urlmetrics?site=www.google.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"183-f10d8cfe"
      X-Response-Time:
      - 5.752ms
      X-Iinfo:
      - 0-1897077-1897081 NNNN CT(38 40 0) RT(1471604097064 574) q(0 0 1 0) r(1 1)
        U5
      X-Cdn:
      - Incapsula
    body:
      encoding: UTF-8
      string: '{"meta":{"site":"http://www.google.com","requested_site":"http://www.google.com"},"data":{"spam_flags":[false,false,false,false,false,false,true,false,false,false,false,false,false,false,false,false,false],"spam_score":1,"authority":{"page_authority":97.3500007873285,"domain_authority":100},"page":{"just_discovered_links":76513,"linking_root_domains":381202,"inbound_links":37924503}}}'
  recorded_at: Fri, 19 Aug 2016 10:54:58 GMT
recorded_with: VCR 3.0.3
